@import "@/styles/_helpers.scss";

.galleryContainer {
    @apply flex items-center justify-start;
}


.sizeContainer,
.imgContainer,
.colorContainer {
    @apply flex gap-3;
}

.sizeContainer,
.colorContainer {
    @apply flex-col;
}

.imgContainer {
    @apply grid grid-cols-4 h-full;
    :global {
        .ant-image {
            height: 4rem;
            width: 4rem;

            img {
                @apply object-cover size-full;
                border-radius: 0.3rem;
            }
        }
    }
}